*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
background-color: rgb(255, 255, 255);
background-image: url(placeholder.svg);
background-size: cover;
height: 100vh;
background-repeat: no-repeat;

}


h1{
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(147, 11, 238);

}
section{
    background: #630ac97a;
    padding: 15px;
    width: 500px;
    height: 100px;
    margin: auto;
    box-shadow: 3px 3px 3px;
    border-radius: 20px;
}

footer{
    font-size: larger;
   background-color:#630ac97a;
   padding: 20px;
   width: 200px;
   border-radius: 20px;
   bottom: 0;
   position: fixed;
   width: 100%;
    text-align: center;
}
